.para{
    text-align: middle;
    background-image: linear-gradient(pink,blue);
    padding: 20px;
    box-shadow: 2px 2px;
    color: red;
}
button{background-color: darkgreen;}
button:hover{background-color: indianred;}
div img{
    border-radius: 300px;
}